# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


[include shell_command.cfg] # Include shell command configuration
[include macro.cfg]         # Include macro configuration

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
max_temp: 100

[thermistor Trianglelab_NTC100K_B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

# -------------------------------
# Tilt Adjustment
# -------------------------------
[screws_tilt_adjust]
screw1: 28.5, 181.5  # Back left screw position
screw1_name: Back left  # Label for back left screw
screw2: 28.5, 11.5  # Front left screw position
screw2_name: Front left  # Label for front left screw
screw3: 198.5, 11.5  # Front right screw position
screw3_name: Front right  # Label for front right screw
screw4: 198.5, 181.5  # Back right screw position
screw4_name: Back right  # Label for back right screw
screw_thread: CW-M4  # Screw thread type
horizontal_move_z: 10  # Travel height for tilt adjust

[bed_mesh]
speed: 300  # Mesh probing speed
horizontal_move_z: 5  # Travel height between probes
mesh_min: 8,30  # Minimum probing area
mesh_max: 223,201  # Maximum probing area
probe_count: 5,5  # Number of points in mesh
zero_reference_position: 117.5,117.5  # Center of bed
algorithm: bicubic  # Interpolation method
fade_start: 1  # Start fade height
fade_end: 10  # End fade height
split_delta_z: 0.015  # Mesh smoothing
move_check_distance: 3  # Travel check for probing
mesh_pps: 4,4  # Mesh resolution

# -------------------------------
# Heater Configuration
# -------------------------------
[verify_heater extruder]
max_error: 150
check_gain_time: 30
hysteresis: 5
heating_gain: 1.5

[verify_heater heater_bed]
max_error: 180
check_gain_time: 90
hysteresis: 5
heating_gain: 1

[probe]
pin: ^PC2  # Pin for probe
x_offset: 4  # X offset of probe from nozzle
y_offset: 21  # Y offset of probe from nozzle
speed: 5.0  # Probing speed
lift_speed: 15.0  # Probe lift speed
samples: 2  # Number of probe samples
samples_tolerance_retries: 6  # Retry count for probe tolerance
sample_retract_dist: 1  # Retract distance between samples

# -------------------------------
# Homing Override
# -------------------------------
[homing_override]
set_position_z: 0  # Set Z to 0 during homing
axes: z  # Axis to override
gcode:
    G90  # Absolute positioning
    G1 Z10 F3000  # Raise Z to avoid scratching
    {% if "x" not in (printer.toolhead.homed_axes | lower) %}
        G28 X  # Home X if not homed
    {% endif %}
    {% if "y" not in (printer.toolhead.homed_axes | lower) %}
        G28 Y  # Home Y if not homed
    {% endif %}
    PROBE_OUT  # Deploy probe
    G1 X113.5 Y96.5 F6000  # Move to probe point
    G28 Z  # Home Z using probe
    PROBE_IN  # Retract probe

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: ^PC2
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0B003A0004504E5238363120-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[virtual_sdcard]
path: ~/printer_data/gcodes  # Path for virtual SD card

[display_status]  # Display printer status
[pause_resume]  # Enable pause/resume features

